@media (max-width: 1700px) {
    .main-logo {
        width: 77%;
    }
    .main-info__p {
        top: -32%;
    }
    .main-info {
        font-size: 2.228vw;
        width: 32vw;
    }
}
